langchain-community 
langchain-core
langchain 
langchainhub
langchain-ollama
langchain-openai
langchain_experimental
langgraph 
tavily-python
IPython
Pillow
image-in-terminal
pydantic
azure.identity
llama_index
llama_index.llms.azure_openai
termcolor
sqlalchemy
streamlit
neo4j
mcp
mcp[cli]
uvicorn
torch>=1.9.0
numpy>=1.20.0
datasets
transformers
evaluate==0.4.2
accelerate
peft
bitsandbytes